@page
@model WebApplication2.Pages.CRUD.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-group">
                <label asp-for="Order.CstName" class="control-label"></label>
                <input asp-for="Order.CstName" class="form-control" />
                <span asp-validation-for="Order.CstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CreatedDate" class="control-label"></label>
                <input asp-for="Order.CreatedDate" class="form-control" />
                <span asp-validation-for="Order.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PizzaName" class="control-label"></label>
                <input asp-for="Order.PizzaName" class="form-control" />
                <span asp-validation-for="Order.PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PizzaPrice" class="control-label"></label>
                <input asp-for="Order.PizzaPrice" class="form-control" />
                <span asp-validation-for="Order.PizzaPrice" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Order.OrderStatus" class="control-label"></label>
                <select asp-for="Order.OrderStatus" class="form-control"></select>
                <span asp-validation-for="Order.OrderStatus" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
